#machalilla {
    background-color: #714010;
    border-color: #714010;
}

#texto_clases_turismos {
    font-style: normal;
    color: #714010;
}

#titulo_tipo_turismo {
    font-style: normal;
    color: #714010;
    animation-fill-mode: backwards;
}

#mapa_mundi {
    background-color: #714010;
    border-color: dodgerblue;
}

#titulo_mapamundi {
    color: #653818;
}

#titulo_turismo {
    color: #653818;
}

#texto_cafe {
    color: #653818;
}

#texto_cafe2 {
    color: black;
    text-align: justify;
}

#titulo_redes {
    color: #653818;
}

#video_portada {
    background-image: url("../imagenes/7.jpg");
}

