#machalilla {
    background-color: #714010;
    border-color: #714010;
}

#texto {
    font-style: normal;
    color: white;
}

#titulo_tipo_turismo {
    font-style: normal;
    color: #714010;
    animation-fill-mode: backwards;
}

#titulo_mapamundi {
    color: white;
    background-color: #7B7E35;
    font-family: sans-serif;
    
}

#titulo_turismo {
    color: white;
    background-color: #7B7E35;
}

#texto_cafe {
    color: white;
    background-color: #643918
}

#texto_cafe2 {
    color: black;
    text-align: justify;
}

#titulo_redes {
    color: white;
    background-color: #663A19;
}

#mapa{
    width: 100%;
    height: 100%;
    border-color: #7A7E34;
}

#imagen_concepto {
    width: 100%;
    height: 100%;
}

#nombre{
    background-color: #7A7E34;
    color: white;
}

#derechos {
    color: white;
}

#texto1{
    color: #663A19;
}

#operadora {
    color: #7A7E34;
}

#viaja_diferente {
    background-image: url(../imagenes/imagenes_promocionales/8.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #7A7E34;
}

@media only screen and (max-width: 767px) {

#viaja_diferente {

background-image: url(../imagenes/imagenes_promocionales/8-2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #7A7E34;

    }
}

#boton {
    color: white;
}

#fondo_404 {
    background-image: url(../imagenes/fondo/mochileros-1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #7A7E34;
}


@media only screen and (max-width: 767px) {

#fondo_404 {

background-image: url(../imagenes/fondo/mochileros-1-2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #7A7E34;

    }
}

<!--slider-->

.popup {
    background-color: #ffffff;
    color: #888888;
    height: 245px;
    left: 100%;
    padding: 20px;
    position: fixed;
    right: 30%;
    top: 25%;
    width: 550px;
    z-index: 101;
    -moz-box-shadow: 0px 0px 10px 1px #888888;
    -webkit-box-shadow: 0px 0px 10px 1px #888888;
    box-shadow: 0px 0px 10px 1px #888888;
    border-radius:10px;
    -moz-border-radius:10px;
}
 
.overlay {
    background: #000000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    opacity:0.5;
}
 
a.close {
    background: url("cancel.png") repeat scroll left top transparent;
    cursor: pointer;
    float: right;
    height: 26px;
    left: 32px;
    position: relative;
    top: -33px;
    width: 26px;
}